/* style.css */

* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.alert {
    display: none;
}
.alert--error,
.alert--done,
.alert--info {
    display: block;
}
.value-warning {
    color: #f00;
}
.value-ok {
    color: #0f0;
}
.bar {
    width: 0;
    height: 5px;
    background-color: #00f;
}
.history__item {
    display: flex;
}
main {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section {
    background-color: #eee;
}